In [1]:
import pandas as pd
data = pd.read_csv("../datasets/titanic/titanic3.csv")
url = "https://www.stats.govt.nz/assets/Uploads/Effects-of-COVID-19-on-trade/Effects-of-COVID-19-on-trade-1-February-16-December-2020-provisional/Download-data/Effects-of-COVID-19-on-trade-1-February-16-December-2020-provisional.csv"
data2 = pd.read_csv(url)
data3 = pd.read_excel("../datasets/titanic/titanic3.xls", "titanic3") #pip3 install xlrd
#xlrd has explicitly removed support for anything other than xls files.
#    This is due to potential security vulnerabilities relating to the use of xlrd version 1.2 or earlier for reading .xlsx files.
#data4 = pd.read_excel("../datasets/titanic/titanic3.xlsx")

In [2]:
data3.to_csv("../datasets/titanic/titanic3_custom.csv")

#### Ejercicio de descarga de datos con urllib3
Vamos a hacer un ejemplo usando la librería urllib3 para leer los datos desde una URL externa, procesarlos y convertirlos a un data frame de *python* antes de guardarlos en un CSV local.

In [3]:
def downloadFromURL(url, filename, sep = ",", delim = "\n", encoding="utf-8", 
                   mainpath = "../datasets"):
    #primero importamos la librería y hacemos la conexión con la web de los datos
    import urllib3
    import os
    http = urllib3.PoolManager()
    r = http.request('GET', url)
    print("El estado de la respuesta es %d" %(r.status))
    response = r.data ## CORREGIDO: eliminado un doble decode que daba error
    
    #El objeto reponse contiene un string binario, así que lo convertimos a un string descodificándolo en UTF-8
    str_data = response.decode(encoding)

    #Dividimos el string en un array de filas, separándolo por intros
    lines = str_data.split(delim)

    #La primera línea contiene la cabecera, así que la extraemos
    col_names = lines[0].split(sep)
    n_cols = len(col_names)

    #Generamos un diccionario vacío donde irá la información procesada desde la URL externa
    counter = 0
    main_dict = {}
    for col in col_names:
        main_dict[col] = []

    #Procesamos fila a fila la información para ir rellenando el diccionario con los datos como hicimos antes
    for line in lines:
        #Nos saltamos la primera línea que es la que contiene la cabecera y ya tenemos procesada
        if(counter > 0):
            #Dividimos cada string por las comas como elemento separador
            values = line.strip().split(sep)
            #Añadimos cada valor a su respectiva columna del diccionario
            if (len(values)==n_cols):
                for i in range(n_cols):
                    main_dict[col_names[i]].append(values[i])
        counter += 1

    print("El data set tiene %d filas y %d columnas"%(counter-1, n_cols))

    #Convertimos el diccionario procesado a Data Frame y comprobamos que los datos son correctos
    df = pd.DataFrame(main_dict)
    print(df.head())

    #Elegimos donde guardarlo
    fullpath = os.path.join(mainpath, filename)

    #Lo guardamos en CSV, en JSON o en Excel según queramos
    df.to_csv(fullpath+".csv")
    df.to_json(fullpath+".json")
    df[:60000].to_excel(fullpath+".xls")
    print("Los ficheros se han guardado correctamente en: "+fullpath)
    
    return df

In [4]:
covid_df = downloadFromURL(url, "exercises/downloaded_covid_effects")
covid_df.head()

El estado de la respuesta es 200
El data set tiene 76767 filas y 11 columnas
  Direction  Year        Date    Weekday Current_Match Country Commodity  \
0   Exports  2015  31/01/2015   Saturday    01/02/2020     All       All
1   Exports  2015  01/02/2015     Sunday    02/02/2020     All       All
2   Exports  2015  02/02/2015     Monday    03/02/2020     All       All
3   Exports  2015  03/02/2015    Tuesday    04/02/2020     All       All
4   Exports  2015  04/02/2015  Wednesday    05/02/2020     All       All

  Transport_Mode Measure      Value Cumulative\r
0            All       $  257000000    257000000
1            All       $  123000000    380000000
2            All       $  176000000    556000000
3            All       $  115000000    671000000
4            All       $   74000000    746000000
Los ficheros se han guardado correctamente en: ../datasets/exercises/downloaded_covid_effects

,Direction,Year,Date,Weekday,Current_Match,Country,Commodity,Transport_Mode,Measure,Value,Cumulative\r
0,Exports,2015,31/01/2015,Saturday,01/02/2020,All,All,All,$,257000000,257000000
1,Exports,2015,01/02/2015,Sunday,02/02/2020,All,All,All,$,123000000,380000000
2,Exports,2015,02/02/2015,Monday,03/02/2020,All,All,All,$,176000000,556000000
3,Exports,2015,03/02/2015,Tuesday,04/02/2020,All,All,All,$,115000000,671000000
4,Exports,2015,04/02/2015,Wednesday,05/02/2020,All,All,All,$,74000000,746000000

In [5]:
covid_df.head()

,Direction,Year,Date,Weekday,Current_Match,Country,Commodity,Transport_Mode,Measure,Value,Cumulative\r
0,Exports,2015,31/01/2015,Saturday,01/02/2020,All,All,All,$,257000000,257000000
1,Exports,2015,01/02/2015,Sunday,02/02/2020,All,All,All,$,123000000,380000000
2,Exports,2015,02/02/2015,Monday,03/02/2020,All,All,All,$,176000000,556000000
3,Exports,2015,03/02/2015,Tuesday,04/02/2020,All,All,All,$,115000000,671000000
4,Exports,2015,04/02/2015,Wednesday,05/02/2020,All,All,All,$,74000000,746000000

In [6]:
covid_df.tail()

,Direction,Year,Date,Weekday,Current_Match,Country,Commodity,Transport_Mode,Measure,Value,Cumulative\r
76761,Reimpor,2020,12/12/2020,Saturday,12/12/2020,All,All,All,$,0,178000000
76762,Reimpor,2020,13/12/2020,Sunday,13/12/2020,All,All,All,$,0,178000000
76763,Reimpor,2020,14/12/2020,Monday,14/12/2020,All,All,All,$,0,179000000
76764,Reimpor,2020,15/12/2020,Tuesday,15/12/2020,All,All,All,$,2000000,181000000
76765,Reimpor,2020,16/12/2020,Wednesday,16/12/2020,All,All,All,$,2000000,183000000

In [7]:
covid_df.columns.values

array(['Direction', 'Year', 'Date', 'Weekday', 'Current_Match', 'Country',
       'Commodity', 'Transport_Mode', 'Measure', 'Value', 'Cumulative\r'],
      dtype=object)

In [8]:
covid_df.shape

(76766, 11)

In [9]:
covid_df.describe()

,Direction,Year,Date,Weekday,Current_Match,Country,Commodity,Transport_Mode,Measure,Value,Cumulative\r
count,76766,76766,76766,76766,76766,76766,76766,76766,76766,76766,76766
unique,3,6,1920,7,320,9,8,3,2,579,22558
top,Exports,2018,29/10/2017,Wednesday,01/07/2020,All,All,All,$,0,90000000
freq,57568,12798,40,11039,240,34558,34558,69086,61406,5161,45

In [10]:
covid_df['value'] = covid_df['Value'].apply(lambda x: int(x))
covid_df['Cumulative\r'] = covid_df['Cumulative\r'].apply(lambda x: int(x))

In [11]:
covid_df['Date']=pd.to_datetime(covid_df['Date'])
covid_df['Current_Match']=pd.to_datetime(covid_df['Current_Match'])

In [12]:
covid_df.dtypes

Direction                 object
Year                      object
Date              datetime64[ns]
Weekday                   object
Current_Match     datetime64[ns]
Country                   object
Commodity                 object
Transport_Mode            object
Measure                   object
Value                     object
Cumulative\r               int64
value                      int64
dtype: object

In [13]:
covid_df.describe()

       Cumulative\r         value
count  7.676600e+04  7.676600e+04
mean   4.953085e+09  3.125623e+07
std    8.822759e+09  5.344915e+07
min    0.000000e+00  0.000000e+00
25%    1.280000e+08  1.000000e+06
50%    1.408000e+09  9.000000e+06
75%    4.888000e+09  3.200000e+07
max    5.691700e+10  5.490000e+08

In [16]:
pd.isnull(covid_df).describe()

,Direction,Year,Date,Weekday,Current_Match,Country,Commodity,Transport_Mode,Measure,Value,Cumulative\r,value
count,76766,76766,76766,76766,76766,76766,76766,76766,76766,76766,76766,76766
unique,1,1,1,1,1,1,1,1,1,1,1,1
top,False,False,False,False,False,False,False,False,False,False,False,False
freq,76766,76766,76766,76766,76766,76766,76766,76766,76766,76766,76766,76766

In [17]:
pd.isnull(data).describe()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
count,1309,1309,1309,1309,1309,1309,1309,1309,1309,1309,1309,1309,1309,1309
unique,1,1,1,1,2,1,1,1,2,2,2,2,2,2
top,False,False,False,False,False,False,False,False,False,True,False,True,True,False
freq,1309,1309,1309,1309,1046,1309,1309,1309,1308,1014,1307,823,1188,745

In [19]:
pd.isnull(data['body']).values.ravel().sum()

1188