In [8]:
import pandas as pd
import numpy as np
import random

In [17]:
raw_data = pd.read_csv('../datasets/exercises/downloaded_covid_effects.csv')

In [16]:
a = np.arange(100)
print(a)
np.random.shuffle(a)
a

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97 98 99]

array([84, 23,  1, 98, 26, 75, 49, 77, 95, 71, 20, 72, 28, 74, 60, 19, 50,
       31, 76,  9, 59, 68, 14, 27, 99, 25, 43, 66, 87, 10, 78, 30,  2, 88,
       13, 21, 40, 36, 52, 42, 86, 11, 57, 45, 15,  4, 96, 39, 79, 83, 12,
       38, 91,  3, 92,  5, 85,  6,  0, 55, 93, 37, 69, 47, 46, 82, 51, 22,
       54, 24, 16, 94, 62, 97,  8, 41, 44, 35, 90, 53, 65, 56, 81, 58, 18,
       89,  7, 63, 80, 64, 33, 61, 73, 17, 32, 48, 70, 29, 67, 34])

In [34]:
raw_data.sample()

,Unnamed: 0,Direction,Year,Date,Weekday,Current_Match,Country,Commodity,Transport_Mode,Measure,Value,Cumulative
24303,24303,Exports,2018,03/12/2018,Monday,30/11/2020,All,Meat,All,$,29000000,6079000000